@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

@layer base {
  :root {
    color-scheme: light;
  }

  .dark {
    color-scheme: dark;
  }
}

@layer utilities {
  .bg-light {
    background-color: white;
  }

  .bg-dark {
    background-color: #111;
  }

  .text-light {
    color: #111;
  }

  .text-dark {
    color: white;
  }
}
